:root {
    --cor-primaria: #E1E1E1;
    --cor-secundaria: #C3C5CB;
    --cor-terciaria: #A1ACB4;
    --cor-quaternaria: #7D949A;
    --cor-q:#5C7D7C;
    --cor-s:#43655A;
    --fundo: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    scroll-behavior: smooth;
    
}
header{
    text-align: center;
    background-color: var(--cor-q);
    color: #FFF;
    letter-spacing: 2px;
    position: sticky;
    top: -0.8rem;
}

footer{
    text-align: center;
    background-color: var(--cor-q);
    color: #FFF;
    letter-spacing: 2px;
    font-size: 14px;
}

ul li a{
    color: var(--cor-s);
    text-decoration: none;
}

ul li a:hover{
    color: var(--cor-q);
    text-decoration: underline;
    font-weight: 900;
}

.titulo {
    background-color: var(--cor-secundaria);
    border-left: solid 10px var(--cor-q);
    padding: 0.1rem 0 0.1rem 0.2rem ;
}

.exemplos {
    font-weight: 500;
}

#intro, #guia, #display, #flex-direction, #flex-wrap, #justify-content, #align-itens, #align-content, #order,#flex-grow,#align-self, #flex-flow{
    padding: 1rem;
}


.titulo {
    font-weight: 600;
    font-size: 18px;
    color: var(--cor-s);
}

.descricao, .guia {
    background-color: var(--cor-primaria);
    padding: 0.6rem;
    padding: 0.8rem;
    line-height: 28px;
    text-align: justify;
    border: 1px solid var(--cor-secundaria);
    
}

#menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
}

ul {
    list-style-type: square;
    padding-left: 1rem;
}

#menu-esq{
    margin-left: 2rem;
}

#menu-dir{
    margin-left: 3rem;
}


.container {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 100px;

}

.contido{
    width: 50px;
    height: 50px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
    color: var(--cor-s);
    text-align: center;
   
}

.contido-stretch{
    width: 50px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
}

.contido-ac{
    width: 500px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
}

.contido-order{
    width: 100px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
}

.contido-order1{
    width: 100px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
    order: -1;
}

.contido-grow{
    background-color: var(--cor-terciaria);
    width: 100px;
    border:  1px solid #000;
    margin: 10px;
}

.contido-grow2{
    width: 100px;
    background-color: var(--cor-terciaria);
    border:  1px solid #000;
    margin: 10px;
    flex-grow: 1;
 
}

.contido-as-start{
    background-color: var(--cor-terciaria);
    width: 100px;
    border:  1px solid #000;
    margin: 10px;
    align-self: start;
}

.contido-as-end{
    background-color: var(--cor-terciaria);
    width: 100px;
    border:  1px solid #000;
    margin: 10px;
    align-self: end;
}

.contido-as-center{
    background-color: var(--cor-terciaria);
    width: 100px;
    border:  1px solid #000;
    margin: 10px;
    align-self: center;
}

.flex-direction-row {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 100px;
    flex-direction: row;
}

.flex-direction-row-reverse {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 100px;
    flex-direction: row-reverse;
}

.flex-direction-column {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    flex-direction: column;
}

.flex-direction-column-reverse {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    flex-direction: column-reverse;
}

.wrap-exemplos {
    display: flex;
    justify-content: space-between;
}

.flex-wrap-nowrap {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    width: 100px;
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    width: 100px;
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    width: 100px;
    flex-wrap: wrap-reverse;
}



.flex-start {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: start;
}

.flex-end {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: end;
}

.flex-center {
    display: flex;
    
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: space-around;
}

.flex-space-evenly {
    display: flex;
    
    background-color: var(--cor-secundaria);
    height: 100px;
    justify-content: space-evenly;
}

.ai-stretch {
    display: flex;
    
    background-color: var(--cor-secundaria);
    align-items: stretch;
    height: 100px;
}
.ai-flex-start {
    display: flex;
    
    background-color: var(--cor-secundaria);
    align-items: flex-start;
    height: 100px;
}
.ai-flex-end {
    display: flex;
    
    background-color: var(--cor-secundaria);
    align-items: flex-end;
    height: 100px;
}
.ai-center {
    display: flex;
    
    background-color: var(--cor-secundaria);
    align-items: center;
    height: 100px;
}

.ai-baseline {
    display: flex;
    
    background-color: var(--cor-secundaria);
    align-items: baseline;
    height: 100px;
}


.ac-stretch {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: stretch;
    height: 100px;
}

.ac-flex-start {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: flex-start;
    height: 100px;
}

.ac-flex-end {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: flex-end;
    height: 100px;
}

.ac-center {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: center;
    height: 100px;
}

.ac-space-between {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: space-between;
    height: 200px;
}

.ac-space-around {
    display: flex;
    flex-wrap: wrap;
    
    background-color: var(--cor-secundaria);
    align-content: space-around;
    height: 200px;
}

.ac-space-evenly {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);
    align-content: space-evenly;
    height: 200px;
}

.flex-flow-row-nowrap {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 200px;
    width: 100px;
    flex-flow: row nowrap;
    margin-right: 1rem;
}


.flex-flow-rowwrap {
    display: flex;
    background-color:var(--cor-secundaria);
    height: 200px;
    width: 200px;
    flex-flow: row wrap;
}

.flex-flow-column-nowrap {
    display: flex;
    background-color: var(--cor-secundaria);
    height: 180px;
    width: 100px;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
}


.flex-flow-column-wrap {
    display: flex;
    background-color:var(--cor-secundaria);
    height: 200px;
    width: 200px;
    flex-flow: column wrap;
}




.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 32px;
    height: 24px;
    background-color: #000;
    text-decoration: none;
    opacity: 40%;
    color: var(--cor-primaria);
}
